services:
  mongodb:
    image: mongo:7.0
    container_name: product_info_mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodb-data:/data/db

volumes:
  mongodb-data:
